@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Poppins:ital,wght@1,200&family=Raleway:wght@200&family=Roboto:wght@100&family=Work+Sans:ital,wght@1,100&display=swap');
.App {
  text-align: center;
}
.profileDiv{
  display: flex;
}
h4{
  font-family: "Mynerve";
  font-size:'25px';
  margin-left: '10px';
  
  
}
h2{  
 
  font-size: '26px';
  text-decoration: underline;
  color:grey;
  text-shadow: 2px 2px black;
}
button{

  border-radius: '5px';
  width:'150px';
  height:'35px';
  border:'none';

  background-color: aquamarine;
  cursor: pointer;
  margin-bottom:'90px' ;
 
}